.google{
    display: flex;
    font-size: 95px;
    margin-top: 13%;
    margin-left: 39%;
    font-family: Helvetica;
}
.g1{
    color: royalblue;

}
.o1{
    color: red;
}
.o2{
    color: orange;
}
.g2{
    color: royalblue;
}
.l1{
    color: green;
}
.e1{
    color: red;
}



#topnav{
      position: absolute;
      top:290px;
      left: 599px;
      height: 40px;
      width: 530px;
      
  }
